@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 23px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.font-border {
  font-weight: 800;
  color: #101010;
  -webkit-text-stroke: 0.3px #f1f1f1;
}

.introbg {
  background: url(../assets/bg/ProjectBg.svg);
  background-size: cover;
  background-color: #101010;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
}
.about4 {
  background: url(../assets/bg/about4.svg);
  background-size: cover;
  background-color: #101010;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.about3 {
  background: url(../assets/bg/About3.svg);
  background-size: cover;
  background-color: #101010;
  background-repeat: no-repeat;
  background-position: center center;
}
.about21 {
  background: url(../assets/bg/About2.svg);
  background-size: cover;
  background-color: #101010;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}


@media only screen and (max-width: 640px) {
  .introbg {
    background-position: top center;
  }
  .about4 {
    background-position: center center;
  }
  .about3 {
    background-position: center center;
  }
  .about21 {
    background-position: center center;
  }
  #Projects {
    background-position: top center;
  }
  .about-3 {
    background: url(../assets/bg/About3.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .about21 {
    background: url(../assets/bg/About2.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .about-21 {
    background: url(../assets/bg/About2.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 300%;
  }
}
@media only screen and (min-width: 641px) {
  .about1 {
    background: url(../assets/bg/About1.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 90%;
  }
  .about3 {
    background: url(../assets/bg/About3.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 70%;
  }
  .about-3 {
    background: #101010;
  }
  .about21 {
    background: url(../assets/bg/About2.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 140%;
  }
  .about-21 {
    background: #101010;
  }
}



@media only screen and (min-width: 1700px) {
  .fixedNav {
    right: -50px;
  }
  .marquee {
    font-size: 3rem;
  }
  .about4xl {
    margin-left: 90px !important;
  }
}
@media only screen and (min-width: 1750px) {
  .herotext1 {
    margin-left: 180px;
  }
  .herotext {
    margin-left: 150px;
  }
}
@media only screen and (min-width: 1880px) {
  .herotext1 {
    margin-left: 200px;
  }
}
@media only screen and (min-width: 1570px) {
  .sayhello {
    margin-left: 60px;
  }
}
@media only screen and (min-width: 1830px) {
  .sayhello {
    margin-left: 100px;
  }
}

.banner {
  display: flex;
  align-items: center;
  width: auto;
  height: 20vh;
  overflow: hidden;
  z-index: 1;
}
.marquee {
  margin: 0 auto;
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  right: 0;
  font-weight: 800;
  color: #101010;
  -webkit-text-stroke: 0.5px #f1f1f1;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 80s linear infinite;
}

.marquee2 span {
  animation-delay: 40s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media only screen and (max-width: 1280px) {
  .marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 40s linear infinite;
  }
  .marquee2 span {
    animation-delay: 20s;
  }
}
@media only screen and (max-width: 800px) {
  .marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 40s linear infinite;
  }
  .marquee2 span {
    animation-delay: 20s;
  }
}
@media only screen and (max-width: 400px) {
  .sayhello {
    width: 40vw;
  }
}

.fixed-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  width: 60%;
  max-width: 60rem;
  height: 90%;
  max-height: 90vh;
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-close {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #2c33d6;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.modalbg {
  background: url(../assets/bg/ModalBg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  background-size: 60%;
  z-index: 100;
}

@media only screen and (min-width: 1300px) {
  .regulatory {
    margin-top: 1rem;
  }
}