@tailwind base;
@tailwind components;
@tailwind utilities;

.clientbg {
  background: url(../assets/bg/ClientBg.svg);
  background-size: cover;
  background-color: #101010;
  background-repeat: no-repeat;
  background-position: top top;
  background-attachment: fixed;
}
.introbg {
  background: url(../assets/bg/IntroBg.svg);
  background-size: cover;
  background-color: #101010;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
}
.about4 {
  background: url(../assets/bg/About4.svg);
  background-size: cover;
  background-color: #101010;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.about3 {
  background: url(../assets/bg/About3.svg);
  background-size: cover;
  background-color: #101010;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (max-width: 640px) {
  .introbg {
    background-position: top center;
  }
  .about4 {
    background-position: center center;
  }
  .about3 {
    background-position: center center;
  }
  /* .about1 {
    background: #101010;
  } */
  .about2 {
    background: none;
  }
  .about-3 {
    background: url(../assets/bg/About3.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: center center;
  }
  /* .about-1 {
    background: url(../assets/bg/About1.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120%;
    padding: 40px;
  } */
  .about2half {
    background: url(../assets/bg/About2Half.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30%;
  }
  .clientbg {
    background-position: center center;
  }
}
@media only screen and (min-width: 641px) {
  .about3 {
    background: url(../assets/bg/About3.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 70%;
  }
  .about2 {
    background: url(../assets/bg/About2.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 60%;
  }
  .about-3 {
    background: #101010;
  }
  /* .about1 {
    background: url(../assets/bg/About1Half.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100%;
  } */
  .about2half {
    background: #101010;
  }
}

@media only screen and (min-width: 1700px) {
  .herotext {
    margin-left: 150px;
  }
}
