@tailwind base;
@tailwind components;
@tailwind utilities;


.clientbg {
  background: url(../assets/bg/ClientBg.svg);
  background-size: cover;
  background-color: #101010;
  background-repeat: no-repeat;
  background-position: top top;
  background-attachment: fixed;
}
.introbg {
  background: url(../assets/bg/IntroBg.svg);
  background-size: cover;
  background-color: #101010;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
}
.about4 {
  background: url(../assets/bg/about4.svg);
  background-size: cover;
  background-color: #101010;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.about3 {
  background: url(../assets/bg/About3.svg);
  background-size: cover;
  background-color: #101010;
  background-repeat: no-repeat;
  background-position: center center;
}




@media only screen and (max-width: 640px) {
  .about-1 {
    background: url(../assets/bg/About1.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40%;
  }
  .introbg {
    background-position: top center;
  }
  .about4 {
    background-position: center center;
  }
  .about3 {
    background-position: center center;
  }

  .about2 {
    background: none;
  }
  .about-3 {
    background: url(../assets/bg/About3.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .about2half {
    background: url(../assets/bg/About2Half.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30%;
  }
  .clientbg {
    background-position: center center;
  }
}
@media only screen and (min-width: 641px) {
  .about-1{
    background: #101010;
  }
  .about3 {
    background: url(../assets/bg/About3.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 70%;
  }
  .about1 {
    background: url(../assets/bg/About1.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 90%;
  }
  .about2 {
    background: url(../assets/bg/About2.svg);
    background-color: #101010;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 60%;
  }
  .about-3 {
    background: #101010;
  }
  .about2half {
    background: #101010;
  }
}

@media only screen and (min-width: 1700px) {
  .herotext {
    margin-left: 150px;
  }
  .fixedNav {
    right: -50px;
  }
  .about4xl{
    margin-left: 90px !important;
  }
}

.moving-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  overflow: hidden;
  position: relative;
}

.moving-banner h1 {
  margin: 0;
  white-space: nowrap;
  animation: moveBanner 20s linear infinite;
  -webkit-text-stroke: 0.5px #F1F1F1 !important;
  color: black;
}

@keyframes moveBanner {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
